<a href="https://colab.research.google.com/github/Bix4UMD/BIOI611_lab/blob/main/docs/BIOI611_introR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to R

### What is R

R is a language and environment for statistical computing and graphics.

* Runs on a variaty of operation systerms: Windows, Linux and MacOS

* Generates publication-ready plots

* Owns a large open-source community

* Extends functions as packages

### Essetnial concepts for programming languages

#### Variables

Variable names can have letters, dots and undercores (e.g. `gene_name` and `chr1`).

#### Functions

A function is a structured, reusable segment of code designed to carry out a specific set of operations. It can accept zero or more inputs (parameters) and can produce an output (result).

`INPUT --function--> OUTPUT`

The way to define a function is:

```
read_star_file <- function(file_path){
    ...code goes here...
    return(df)
}
```

The way to use a function in R is:
```
read_star_file(paths)
```

### Basic data types

In [ ]:
# assign a number to variable gene_count
gene1 <- 150
gene2 <- 200
gene1
gene2

[1] 150

[1] 200

In [ ]:
# Examples of character value
gene_name1 <- "KRAS"
gene_name1

[1] "KRAS"

In [ ]:
# Examples of character value
"RAS" -> gene_name2
gene_name2

[1] "RAS"

In [ ]:
# Examples of character value
gene_name3 <- "KRAS"
gene_name3

[1] "KRAS"

In [ ]:
# Logical value
gene1 > gene2
gene1 < gene2
bool_val = gene1 < gene2

[1] FALSE

[1] TRUE

In [ ]:
class(gene1)
class(gene_name)
class()

[1] "numeric"

[1] "character"

### Basic data structure

An atomic vector is a collection of multiple values (numeric, character, or logical) stored in a single object. You can create an atomic vector using the c() function.

In [ ]:
sample_names <- c("N2_day1_rep1",	"N2_day1_rep2", "N2_day1_rep3",
                  "N2_day7_rep1", "N2_day7_rep2", "N2_day7_rep3")
sample_names

[1] "N2_day1_rep1" "N2_day1_rep2" "N2_day1_rep3" "N2_day7_rep1" "N2_day7_rep2"
[6] "N2_day7_rep3"

In [ ]:
group <- gsub("_rep\\d", "", sample_names)
group

[1] "N2_day1" "N2_day1" "N2_day1" "N2_day7" "N2_day7" "N2_day7"

In [ ]:
coldata_df <- cbind(group = gsub("_rep\\d", "", sample_names))
coldata_df

     group
[1,] N2_day1
[2,] N2_day1
[3,] N2_day1
[4,] N2_day7
[5,] N2_day7
[6,] N2_day7

In [ ]:
rownames(coldata_df) = sample_names
coldata_df

             group
N2_day1_rep1 N2_day1
N2_day1_rep2 N2_day1
N2_day1_rep3 N2_day1
N2_day7_rep1 N2_day7
N2_day7_rep2 N2_day7
N2_day7_rep3 N2_day7

In [ ]:
t(coldata_df)

      N2_day1_rep1 N2_day1_rep2 N2_day1_rep3 N2_day7_rep1 N2_day7_rep2
group N2_day1      N2_day1      N2_day1      N2_day7      N2_day7
      N2_day7_rep3
group N2_day7

In [ ]:
is.matrix(coldata_df)
coldata_df <- as.data.frame(coldata_df)
is.data.frame(coldata_df)

[1] TRUE

[1] TRUE

 A matrix can contain either character or numeric columns and a dataframe can contain both numeric and character columns.

A list is an ordered collection of objects, which can be any type of R objects (vectors, matrices, data frames, even lists).

In [7]:
count_files = list("sample" = 'N2_day1_rep1.ReadsPerGene.out.tab', "sample2"='N2_day1_rep2.ReadsPerGene.out.tab')
count_files

$sample
[1] "N2_day1_rep1.ReadsPerGene.out.tab"

$sample2
[1] "N2_day1_rep2.ReadsPerGene.out.tab"

In [11]:
gene_count = list("gene1" = 10, "gene2"=20)

In [12]:
lapply(gene_count, function(x){log2(x+1)})

$gene1
[1] 3.459432

$gene2
[1] 4.392317

In [14]:
log2_transform <- function(x){
    log2(x+1)
}
lapply(gene_count, log2_transform)

$gene1
[1] 3.459432

$gene2
[1] 4.392317

### Dealing with text files

In [26]:
getwd()
#setwd()

[1] "/content"

In [27]:
list.files()

[1] "N2_day1_rep1.ReadsPerGene.out.tab" "N2_day1_rep2.ReadsPerGene.out.tab"
[3] "N2_day1_rep3.ReadsPerGene.out.tab" "N2_day7_rep1.ReadsPerGene.out.tab"
[5] "N2_day7_rep2.ReadsPerGene.out.tab" "N2_day7_rep3.ReadsPerGene.out.tab"
[7] "sample_data"

In [15]:
file_paths <- list.files(pattern = "*..ReadsPerGene.out.tab")
file_paths

[1] "N2_day1_rep1.ReadsPerGene.out.tab" "N2_day1_rep2.ReadsPerGene.out.tab"
[3] "N2_day1_rep3.ReadsPerGene.out.tab" "N2_day7_rep1.ReadsPerGene.out.tab"
[5] "N2_day7_rep2.ReadsPerGene.out.tab" "N2_day7_rep3.ReadsPerGene.out.tab"

In [21]:
tab_N2_day1_rep1 <- read.table('N2_day1_rep1.ReadsPerGene.out.tab')
head(tab_N2_day1_rep1, 5)

  V1             V2      V3       V4
1 N_unmapped     1332776  1332776  1332776
2 N_multimapping 1540190  1540190  1540190
3 N_noFeature     157102 19017455 18933214
4 N_ambiguous     536422   128854   120342
5 WBGene00000003     341      161      180

In [22]:
tab_N2_day1_rep2 <- read.table('N2_day1_rep2.ReadsPerGene.out.tab')
head(tab_N2_day1_rep2,5)

  V1             V2      V3       V4
1 N_unmapped     1400596  1400596  1400596
2 N_multimapping 1305129  1305129  1305129
3 N_noFeature     152183 15009786 14975925
4 N_ambiguous     439830   104631    98489
5 WBGene00000003     415      198      217

In [23]:
tab_N2_day1_rep3 <- read.table('N2_day1_rep3.ReadsPerGene.out.tab')
head(tab_N2_day1_rep3,5)

  V1             V2      V3       V4
1 N_unmapped     5887223  5887223  5887223
2 N_multimapping 1557570  1557570  1557570
3 N_noFeature     184441 17612359 17574940
4 N_ambiguous     514559   122385   115498
5 WBGene00000003     411      175      236

In [32]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [33]:
tab_N2_day1_rep1 <- tab_N2_day1_rep1 %>% select(V1, V2)
head(tab_N2_day1_rep1, 5)
tab_N2_day1_rep2 <- tab_N2_day1_rep2[, c("V1", "V2")]
head(tab_N2_day1_rep2, 5)
tab_N2_day1_rep3 <- tab_N2_day1_rep3[, c("V1", "V2")]
head(tab_N2_day1_rep3, 5)

  V1             V2
1 N_unmapped     1332776
2 N_multimapping 1540190
3 N_noFeature     157102
4 N_ambiguous     536422
5 WBGene00000003     341

  V1             V2
1 N_unmapped     1400596
2 N_multimapping 1305129
3 N_noFeature     152183
4 N_ambiguous     439830
5 WBGene00000003     415

  V1             V2
1 N_unmapped     5887223
2 N_multimapping 1557570
3 N_noFeature     184441
4 N_ambiguous     514559
5 WBGene00000003     411

In [36]:
df_merged <- merge(tab_N2_day1_rep1, tab_N2_day1_rep2, by = "V1")
head(df_merged)
df_merged <- merge(df_merged, tab_N2_day1_rep3, by = "V1")
head(df_merged)

  V1             V2.x    V2.y
1 N_ambiguous     536422  439830
2 N_multimapping 1540190 1305129
3 N_noFeature     157102  152183
4 N_unmapped     1332776 1400596
5 WBGene00000001    3227    2168
6 WBGene00000002     270     203

  V1             V2.x    V2.y    V2
1 N_ambiguous     536422  439830  514559
2 N_multimapping 1540190 1305129 1557570
3 N_noFeature     157102  152183  184441
4 N_unmapped     1332776 1400596 5887223
5 WBGene00000001    3227    2168    2589
6 WBGene00000002     270     203     266

The `Reduce()` function in R allows us to apply a function repeatedly to a list of elements. Here, we are applying `merge()` iteratively to a list of data frames.

In [38]:
df_mer_red <- Reduce(function(x, y) merge(x, y, by = "V1"),
                        list("tab_N2_day1_rep1" = tab_N2_day1_rep1,
                             "tab_N2_day1_rep2" = tab_N2_day1_rep2,
                             "tab_N2_day1_rep3" = tab_N2_day1_rep3))
head(df_mer_red, 5)

  V1             V2.x    V2.y    V2
1 N_ambiguous     536422  439830  514559
2 N_multimapping 1540190 1305129 1557570
3 N_noFeature     157102  152183  184441
4 N_unmapped     1332776 1400596 5887223
5 WBGene00000001    3227    2168    2589